.cabecalho {
    align-items: center;
    background: linear-gradient(#051D3B 80%, transparent);
    display: flex;
    height: 120px;
    justify-content: space-between;
    padding: 0 32px 0 32px;
    position: fixed;
    top: 0;
    width: 100vw;
}

.logo__cabecalho {
    width: 145px;
    height: 34.05px;
    margin-right: 167px;
}

.perfil__cabecalho{
    align-items: center;
    border-radius: 8px;
    display: flex;
    height: 56px;
    justify-content: center;
    padding: 0 12px;
    width: 130px; 
    margin-left: 182px;   
}

.perfil__cabecalho:hover {
    background: rgb(255, 255, 255, 0.08);
}

.imagem__perfil {
    border-radius: 100%;
    height: 32px;
    object-fit: cover;
    object-position: center;
    margin-right: 8px;
    width: 32px;
}

.nome__perfil {
    color: #ffffff;
}

.pesquisa__cabecalho {
    background-color: rgb(255, 255, 255, 0.16);
    border: none;
    border-radius: 8px;
    color: #ffffff;
    padding: 16px 14px;
    width: 100%;
}

.pesquisa__cabecalho:hover {
    background: rgb(255, 255, 255, 0.24);
}

.pesquisa__cabecalho:focus {
    box-shadow: none;
    outline: none;
}

.pesquisa__cabecalho::placeholder {
    color: rgb(255, 255, 255, 0.64);
    padding: 16px 14px;
}