.areaDeEdicao {
    margin-left: 344px;
    margin-top: 120px;
    width: 100%;
}

.editor__container {
    background-color: #5081FB;
    border-radius: 8px;
    padding: 32px;
}

.editor-wraper {
    background-color: #222222;
    border-radius: 8px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    height: 302px;
    padding: 10px 20px;
}

.bulets {
    margin-bottom: 5px;
}

.editor {
    color: #ffffff;
    height: 100%;
    overflow: auto;
}

.editor:focus {
    box-shadow: none;
    outline: none;
}

.botao-highlight {
    background: var(--cor-elemento-sec-normal);
    border: none;
    border-radius: 8px;
    color: #ffffff;
    height: 56px;
    margin-top: 32px;
    width: 100%;
    transition: all .3s;
}

.botao-highlight:hover {
    background: var(--cor-elemento-sec-hover);
}

.botao-highlight:active {
    border: var(--sec-borda);
}
