.menu {
    align-items: start;
    background-color: var(--cor-de-fundo);
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    padding-left: 32px;
    padding-right: 20px;
    position: fixed;
    top: 120px;
}

h3 {
    color: #ffffff;
    font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}

.botao__menu {
    align-items: center;
    color: rgb(255, 255, 255, 0.72);
    display: flex;
    gap: 16px;
    text-decoration: none;
    transition: all .3s;
}

.icone__menu {
    align-items: center;
    background-color: var(--cor-elemento-sec-normal);
    border-radius: 16px;
    display: flex;
    height: 48px;
    justify-content: center;
    width: 48px;
    transition: all .3s;
}

.botao__menu:hover {
    color: #ffffff;
}

.botao__menu:hover .icone__menu{
    background: var(--cor-elemento-hover);
}

.ativa {
    color: #ffffff;
}

.ativa .icone__menu{
    background: var(--cor-elemento-normal);
}