@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.css');

@import url('reset.css');
@import url('normalize.css');
@import url('cabecalho.css');
@import url('principal.css');
@import url('menu.css');
@import url('editor.css');
@import url('configuracoesProjeto.css');


:root {
    --cor-fundo: #051d3b;

    --cor-fonte-ativa: #ffffff;
    --cor-fonte-inativa: rgba(255, 255, 255, 0.50);
    --cor-fonte-hover: rgba(255, 255, 255, 0.72);

    --cor-caixas-de-texto: rgba(255, 255, 255, 0.16);
    --cor-caixas-de-texto-hover: rgba(255, 255, 255, 0.24);

    --cor-botao-ativo: #5081fb;
    --cor-botao-hover: rgba(80, 129, 251, 0.64);
    --cor-botao-inativo: rgba(80, 129, 251, 0.16);
    --cor-borda-botao-inativo: rgba(80, 129, 251, 0.722);

    --cor-botao-alternativo-ativo: rgba(80, 129, 251, 0.239);
    --cor-botao-alternativo-hover: rgba(80, 129, 251, 0.161);
    --cor-botao-alternativo-inativo: rgba(80, 129, 251, 0.078);
    --cor-borda-botao-alternativo-inativo: rgba(80, 129, 251, 0.239);

    --cor-elemento-hover: rgba(255, 255, 255, 0.08);

    --fonte-texto-padrao: 'Inter';
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-fonte-ativa);
    font-family: var(--fonte-texto-padrao), sans-serif;
    font-size: 16px;
    padding: 32px 32px 0 32px;
}