@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.css');

@import url(normalize.css);
@import url(reset.css);

@import url(cabecalho.css);
@import url(menu.css);

@import url(editor.css);
@import url(configuracao.css);

@import url(feed.css);

:root {
    /*principais*/
    /*cores*/
    --cor-de-fundo: #051D3B;
    --cor-elemento-normal: #5081FB;
    --cor-elemento-hover: #7BA4FC;
    --cor-elemento-focus: #96B9FD;
    /*borda*/
    --borda: 4px solid rgba(80, 129, 251, 0.72);

    /*secundarias*/
    /*cores*/
    --cor-elemento-sec-normal: rgb(80, 129, 251, 0.08);
    --cor-elemento-sec-hover: rgb(80, 129, 251, 0.16);
    --cor-elemento-sec-inativos: rgb(80, 129, 251, 0.24);
    /*borda*/
    --sec-borda: 4px solid rgba(80, 129, 251, 0.24);

    --font-code: 'Roboto Mono';

}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    max-width: 1440px;
}

main {
    align-items: start;
    display: flex;
    justify-content: space-between;
}

pre {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--cor-elemento-sec-normal);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--cor-elemento-sec-inativos);
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--cor-elemento-sec-hover);
  }
